@model MVCBiblioteka.Models.Author

@{
    ViewBag.Title = "Lista książek";
}

<div class="genre">
    <h3> <em>@Model.allname</em></h3>

    <ul id="album-list">
        @foreach (var album in Model.AuthorBooks)
        {
            <li>
                <a href="@Url.Action("Details", "Books", new { id = album.BookID })">
                    @*<img alt="@album.title"
                        src="@album.AlbumArtUrl" />*@
                    <span>@album.Book.title</span>
                </a>
            </li>
        }
    </ul>
</div>