@model MVCBiblioteka.Models.Category

@{
    ViewBag.Title = "Usuwanie kategorii";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Usuwanie kategorii</h2>

<h3>Jesteś pewien, że chcesz to usunąć?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FatherCategory.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FatherCategory.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Wróć do listy", "Index")
        </div>
    }
</div>
